* {
    box-sizing: border-box;
  }

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: beige;
    color: black;
}

nav a {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: blueviolet;
    font-weight: bold;
    font-size: 120%;
    margin-top: 2%;
    text-decoration: none;
}

.time-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-bottom: 5%;
    font: 1em sans-serif;
}
main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  }


main h1 {
    font-size: 150%;
    color: black;
}

button {
    justify-content: center;
    padding: 1% 2%;
    color: #fff;
    background-color: #b40ec4;
    margin-left: 33%;
    margin-top: 5%;
    border: none;
    outline: none;
    cursor: pointer;
  }
