
/* Declare Globale */
/* Start Button & Game */
 #Submit {
    justify-content: center;
    border-radius: 8px;
    padding: 1% 2%;
    color: #fff;
    background-color: #b40ec4;
    margin-left: 40%;
    margin-top: 5%;
    outline: none;
    cursor: pointer;
    font-size: 120%;

  };

/* label Space */
label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
} 
/* List of Highscores */
li {
    background-color: purple;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
    cursor: pointer;
};

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
} 


/* Start media queries */
@media only screen and (max-width: 800px) {
    main {
      width: 80vw;
    }
  }