
/* Declare Globale */
* {
    box-sizing: border-box;
  }
/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: beige;
}

nav a {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: rgb(255, 0, 140);
    font-weight: bold;
    font-size: 120%;
    margin-top: 2%;
    text-decoration: none;
}
         /* Timer  */
.time-box {
    display: flex;
    justify-content: flex-end;
    color: rgb(255, 0, 140);
    margin-right: 10%;
    margin-bottom: 5%;
    font: 1em sans-serif bolder;
}
/* Main Card */
main {
 background-color:	#FFFFE0;
  border: 2px solid #eceff1;
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 40px 20px;
  padding: 20px;
  width: 70vw;
  float: center;
  }
#mainMessage {
    display: flex;
    position: relative;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
}

main h1 {
    font-size: 150%;
    color: black;
    text-align: center;
}
/* Start Button & Game */
button, #goBack, #clear, #Submit {
    justify-content: center;
    border-radius: 8px;
    padding: 1% 2%;
    color: #fff;
    background-color: #b40ec4;
    margin-left: 40%;
    margin-top: 5%;
    outline: none;
    cursor: pointer;
    font-size: 120%;

  }
/* label Space */
label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}
/* List of Highscores */
li {
    background-color: purple;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}


/* Start media queries */
@media only screen and (max-width: 800px) {
    main {
      width: 80vw;
    }
  }